*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "GothaProReg", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

.head{
	background-image: url(../img/bg_head.png) ;
	min-height: 890px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
}

.top_line{
	margin: 0 80px;
	padding-top: 65px;
}

.logo img{
	width: 200px;
}

.switch_wrap{
	margin-top: 15px;
}

.switch_wrap a{
	color: white;
	font-size: 15px;
	line-height: 23px;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}

.switch_wrap a.active{
	background-color: #a5d329;
	border-radius: 17px;
}
.nav_menu ul{
	padding: 0;
}
.nav_menu ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
}
.nav_menu ul li:first-child{
	margin-left: 0;
}
.nav_menu ul li a{
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	transition: all .25s ease;
	line-height: 25px;

}
.nav_menu ul li a.active{
	border-bottom: 3px solid #a5d329;
}
.nav_menu ul li a:hover{
	border-bottom: 3px solid #a5d329;
}

.clean_pad{
	padding: 0;
}

.fb_wrap{
	display: inline-block;
	width: 27px;
	height: 27px;
	margin: 13px 0px 0px 20px;
}
.fb_wrap img{
	width: 100%;
}
.phone_wrap{
	text-align: right;
	color: white;
	float: right;
	font-family: "GothaProBol", sans-serif;
	font-size: 22px;
	margin-top: 10px;
	position: relative;
	display: inline-block;
}


.butt_wrap{
	float: right;
	margin-top: 15px;
}

a.button{
	border: 2px solid #a5d329;
	border-radius: 26px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	padding: 7px 35px;
	font-weight: 400;
	transition: all .25s ease;
}
a.button:hover{
	background-color: rgba(165, 211, 41, .8);
}


.title_wrap{
	text-align: center;
}
.title_wrap h1{
	font-family: "GothaProBla", sans-serif;
	font-size: 63px;
	line-height: 86px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.title_wrap h1 strong{
	color: #a5d329;
	font-size: 63px;
}
.title_wrap p{
	color: white;
	font-family: "GothaProMed", sans-serif;
	font-size: 27px;
	margin-top: 0;
}

.title_date{
	text-align: center;
	color: #a5d329;
	font-family: "GothaProBla" ,sans-serif;
	font-size: 21px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 30px;
	margin-top: 40px;
}
.title_date:after{
	content: '';
	width: 25px;
	height: 90px;
	position: absolute;
	background-image: url(../img/icon_brace.png);
	left: -10px;
	top: 23px;
}
.title_date:before{
	content: '';
	width: 25px;
	height: 90px;
	position: absolute;
	background-image: url(../img/icon_brace.png);
	background-position: -75px 0;
	right: -10px;
	top: 23px;
}

.head_items{
	margin-top: 120px;
	position: relative;
	text-align: center;
	padding-left: 90px;

}
.head_item:first-child{
	width: 100px;
}
.head_item{
	font-family: "GothaProBla" ,sans-serif;
	font-size: 17px;
	width: 160px;
	text-align: left;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.head_item p{
	margin: 0;
	line-height: 16px;
	margin-top: 5px;
}
.head_item .number_wrap{
	color: #a5d329;
	font-size: 35px;
	line-height: 20px;
}

.arr_down{
	background-image: url(../img/icon_down.png);
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: absolute;
	bottom: -25px;
	z-index: 2;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}




.section_1{
	background-image: url(../img/bg_sect_1.jpg) ;
	min-height: 1050px;
	background-repeat: no-repeat;
	margin-top: 60px;
	position: relative;
	
}
.title_sect_1_wrap{
	margin-top: 260px;
	margin-left: -50px;
	width: 500px;
}
.title_sect_1 h2{
	color: white;
	font-family: "GothaProBla" ,sans-serif;
	text-transform: uppercase;
	font-size: 43px;
	line-height: 67px;
}
.title_sect_1 h2 strong{
	font-size: 52px;
	line-height: 70px;
}

.descr_desc_1_wrap{
	color: #444;
	font-size: 18px;
	
	margin-top: 190px;
	margin-left: 50px;
	position: relative;
}
.descr_desc_1_wrap:before{
	content: '';
	background-image: url(../img/brace_sect_1.png);
	height: 500px;
	width: 50px;
	position: absolute;
	top: -50px;
	left: -40px;

}
.homesect{
	padding-top: 25px;
	padding-bottom: 25px;
}
.homesect .title_wrap{
	text-align: left;
}
.title_wrap h2{
	color: #a5d329;
	font-family: "GothaProBla", sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	line-height: 41px;
}

.slider{
	position: relative;
}
.slide{
	display: inline-block;
}
.slider .owl-nav .owl-prev{
	width: 50px;
	height: 50px;
	background-image: url(../img/arr_slide_left.png);
	position: absolute;
	top: 0;
	left: 0;
}
.slider .owl-nav .owl-next{
	width: 50px;
	height: 50px;
	background-image: url(../img/arr_slide_right.png);
	position: absolute;
	top: 0;
	right: 0;
}
.owl-dots{
	text-align: center;
	margin-top: 15px;
}
.owl-dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #dcdcdc;
	border-radius: 10em;
	margin-right: 15px;
	margin-bottom: 25px;
}
.owl-dot.active{
	background-color: #a5d329;
}

.section_3{
	background-image: url(../img/bg_sect_3.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 720px;
	text-align: center;
}
.section_3 .title_wrap{
	text-align: center;
	margin-top: 60px;
}
.section_3 .title_wrap h2{
	margin-bottom: 0;
	line-height: 30px;
}
.title_wrap strong{
	color: #fff;
	font-family: "GothaProBla",sans-serif;
	font-size: 35px;
	text-transform: uppercase;
}
.forms_sect3_wr{
	margin-top: 30px;
}
.forms_sect3{
	text-align: center;
	font-size: 12px;
}
.forms_sect3 input{
	background: none;
	border: 2px solid #e8e8e8;
	border-radius: 26px;
	font-size: 15px;
	padding: 3px 17px;
	width: 213px;
	margin: 5px 10px;
}
.forms_sect3 input.radio{
	padding: 0;
	width: auto;

}
.forms_sect3 button{
	border: 2px solid #a5d329;
	border-radius: 26px;
	background: none;
	font-size: 15px;
	padding: 3px 17px;
	width: 213px;
	margin-left: 10px;
	transition:all .25s ease;
}
.forms_sect3 button:hover{
	background-color: rgba(165, 211, 41, .8);
}
.items{
	margin-top: 50px;
}
.item{
	display: inline-block;
	margin: 0 14px;
}
.item p{
	font-family: "GothaProBla", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 10px;
}

.count_wrap{
	margin-top: 70px;
}
.count_title h3{
	color: #a5d329;
	font-family: "GothaProBla", sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.ClassyCountdownDemo {
	margin:0 auto 30px auto;
	max-width:400px;
	width:calc(100%);
	padding:0; 
	display:block; 
}
.ClassyCountdown-wrapper{
	position: relative;
}
.ClassyCountdown-value{
	font-size: 22px !important;
}
.ClassyCountdown-value span{
	display: inline-block;
	position: absolute;
	top: 58px;
	left: 10px;
	font-size: 15px !important;
}
.ul_wrap{
	margin-top: 26px;
}
.sect_white ul li{
	color: #A5D329;
	font-size: 18px;
	
}
.sect_white ul li span{
	color: #444;
}
.section_4{
	padding-bottom: 0;
}

.section_5{
	background-image: url(../img/bg_sect_5.png);
	min-height: 867px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	margin-top: -30px;
	padding-top: 240px;
	position: relative;
	z-index: 2;
}

.section_5 .title_wrap{
	padding-right: 30px;
}

.section_5 ul li{
	color: #A5D329;
	margin-top: 7px;
}
.section_5 ul li span{
	color: #fff;
}

.section_6{
	background-image: url(../img/bg_sect_6.jpg);
	min-height: 700px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right;
	margin-top: -166px;
	padding-top: 240px;
	position: relative;
	z-index: 1;
}

.section_7{
	background-color: #f8f8f8;
	padding-bottom: 0;
}
.section_7 .title_wrap h2{
	margin-bottom: 40px;
}
.section_6 .title_descr_wrap{
	padding-left: 25px;
	margin-top: 65px;
	position: relative;
}
.section_6 .title_descr_wrap::after{
	content: '';
	width: 25px;
	height: 80px;
	background-image: url(../img/brace_sect_6.png);
	position: absolute;
	top: -12px;
	left: 0;

}
.section_6 .title_descr_wrap h3{
	color: #0f1015;
	font-family: "GothaProBla", sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 27px;
}
.item_sect7_wrap{
	text-align: center;
	margin-top: 20px;
}
.item_sect7_wrap .img_wrap{
	width: 210px;
	height: 210px;
	display: inline-block;
	border-radius: 10em;
	border: 5px solid #A5D329;
	overflow: hidden;
	display: block;
	text-align: center;
	box-shadow: 0 0 0 20px #fefefe;
	margin: 30px 26px;

}
.item_sect7_wrap p{
	color: #444;
	font-size: 18px;
	line-height: 21px;
}
.item_sect7_wrap p strong{
	font-family: "GothaProBol", sans-serif;
}
.ellips_sect7{
	background-image: url(../img/ellips_bottom_sect7.png);
	min-height: 219px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-color: #fff;
	text-align: center;
	padding-top: 90px;
}
.but_wrap a{
	background-color: white;
	border: 2px solid #a5d329;
	border-radius: 17px;
	color: black;
	font-size: 21px;
	text-decoration: none;
	padding: 9px 54px;
	transition:all .25s ease;
}
.but_wrap a:hover{
	background-color: rgba(165, 211, 41, .8);
}
.item_sect7_wrap{
	position: relative;
}
.section_8{
	margin-bottom: 40px;
}
.section_8 .title_wrap{
	margin-bottom: 80px;
}
.section_8 .item_sect7_wrap:before{
	content: '';
	background-color: #A5D329;
	height: 3px;
	width: 86px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
}

.section_9{
	background-image: url(../img/bg_sect_9.jpg);
	min-height: 1050px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding-top: 150px;
	position: relative;
	
}
.section_9 .title_wrap h2{
	margin-bottom: 80px;
}

.item_wrap_sect9{
	width: 55%;
	min-height: 90px;
}
.item_wrap_sect9 .img_wrap{
	display: inline-block;
	float: left;
	height: 90px;
	margin-right: 30px;
}

.section_10{
	padding-top: 50px;
}

.table_head table{
	border:none;
	border-collapse: separate;
	border-radius: 33px 0 33px;
	width: 100%;
}

.table_head table tr:first-child td{
	border-top: 2px solid #A5D329;

}
.table_head table tr td{
	border:2px solid #A5D329;
	padding: 40px 30px;
}
.table_head table tr td:first-child{
	border-radius: 33px 0 0 0;
}
.table_head table tr:first-child td:last-child{
	border-radius: 0 33px  0 0;
}
td.first_td{
	font-size: 14px;
	line-height: 18px;

}
td strong{
	font-family: "GothaProMed", sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 12px;
}
td strong.char{
	font-size: 25px;
	line-height: 33px;
}
table tr td.rouble{
	font-family: "rouble", sans-serif;
	border-left: none;
}
table tr td.rouble span{
	font-size: 25px;
	line-height: 27px;
	padding-left: 10px;
}
table{
	color: #444;
	border:2px solid #d0d0d0;
	border-top:none;
}
table tr:first-child td{
	border-top: none;
}
table tr:first-child{
	
	background: none;
}

table tr td{
	width: 25%;
	border:2px dotted #d0d0d0;
	padding: 20px 30px;

}

table tr td.td_bottom{
	border-bottom: none;
	background-color: #f7f7f7;
}

.td_bottom .but_wrap a{
	padding: 4px 68px;
}

.section_10 .title_wrap h2{
	margin-bottom: 60px;
}
.section_11{
	padding-bottom: 100px;
}
.section_11 .title_sect_1 h2{
	color: #000;
	font-size: 35px;
	line-height: 48px;
}
.section_11 .title_sect_1_wrap{
	margin-top: 100px;
	position: relative;
}
.section_11 .title_sect_1_wrap::before{
	content: '';
	background-image: url(../img/arrow_sect11.png);
	width: 150px;
	height: 41px;
	position: absolute;
	bottom: -21px;
	right: -130px;
}
.section_11 .title_sect_1 h2 strong{
	font-size: 35px;
	color: #fff;
	background-color: #8FD400;
	padding: 5px 10px;
}
.section_11 h3{
	font-family: "GothaProBol", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.section_11 .descr_desc_1_wrap{
	margin-top: 100px;
}
.section_11 .descr_desc_1_wrap p{
	margin: 7px 0px 0px;
}
.section_11 .descr_desc_1_wrap::before{
	background-image: url(../img/brace_sect_11.png);
	height: 256px;
	top: -32px;
}

.section_12{
	text-align: center;
	background-image: url(../img/bg_sect_12.jpg);
	min-height: 676px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.section_12 .title_wrap{
	text-align: center;
	margin-top: 54px;
	border-bottom: 4px dotted #a5d329;
	display: inline-block;
	
}
.section_12 .title_wrap h2{
	color: #fff;
	margin-bottom: 12px;
}
.section_12 .descr_wrap p{
	margin-top: 28px;
	margin-bottom: 0;
}
.section_12 .descr_wrap p strong{
	font-family: "GothaProBol", sans-serif;
	font-size: 26px;
	text-transform: uppercase;
}
.second_descr{
	margin-top: 0;
	line-height: 23px;
	font-size: 18px;
}
.section_12 .but_wrap{
	margin-top: 35px;
}
.section_12 .but_wrap a{
	background: none;
	font-family: "GothaProBol", sans-serif;
	font-size: 17px;
	color: #fff;
}
.section_12 .but_wrap a:hover{
	background-color: rgba(255, 255, 255, .2);
}
.contact_wrap{
	margin-top: 178px;
}
.contact_wrap p{
	font-size: 15px;
	line-height: 18px;
}
.contact_wrap p strong{
	font-family: "GothaProMed", sans-serif;
}

.section_13{
	background-image: url(../img/bg_sect_13.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 1002px;
	text-align: center;
}
.section_13 .title_wrap{
	text-align: center;
}
.section_13 .title_wrap h2{
	font-size: 33px;
}
.section_13 .title_wrap strong{
	font-size: 33px;
}
.section_13 .title_descr{
	font-size: 18px;
	line-height: 24px;
}
.section_13 .title_descr span{
	color: #A5D329;
}
.section_13 .items{
	margin-top: 70px;
}
.section_13 .count_wrap{
	margin-top: 150px;
}
.section_14{
	padding-bottom: 0;
}
.section_14 .title_wrap{
	margin-top: 50px;
}
.section_14 .title_descr_wrap{
	padding-left: 25px;
	margin-top: 30px;
	position: relative;
}
.section_14 .title_descr_wrap::after{
	content: '';
	width: 25px;
	height: 80px;
	background-image: url(../img/brace_sect_6.png);
	position: absolute;
	top: -12px;
	left: 0;

}
.section_14 .title_descr_wrap h3{
	color: #0f1015;
	font-family: "GothaProBla", sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 27px;
}

.descr_wrap_p{
	color: #0f1015;
	font-size: 21px;
	line-height: 25px;
	margin-top: 27px;
}
.section_14 .item_title{
	margin-top: 70px;
	margin-left: 10px;
}
.section_14 .item_title h3{
	color: #0f1015;
	font-family: "GothaProBla", sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 27px;
}
.section_14 .item_wrap{
	color: #0f1015;
	font-size: 17px;
	margin-bottom: 50px;
}
.section_14 .item_wrap span{
	border-bottom: 2px solid #A5D329;
}

.section_15{
	background-image: url(../img/bg_sect_15.jpg) ;
	min-height: 860px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	z-index: 1;
	position: relative;
	text-align: left;
	
}
.section_15 .title_sect_1_wrap{
	margin-top: 260px;
	
}
.section_15 .title_sect_1 h2{
	font-size: 35px;
	line-height: 45px;
}
.section_15 .descr_wrap{
	font-size: 21px;
	line-height: 27px;
}
.section_15 .wr_button{
	margin-top: 70px;
}
.section_15 a.button{
	border: 2px solid #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: "GothaProMed", sans-serif;
}

.footer{
	background-image: url(../img/bg_footer.png);
	min-height: 650px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	margin-top: -65px;
	position: relative;
	z-index: 2;
	font-family: "GothaProBol", sans-serif;
	font-size: 22px;
}
.footer .title_wrap{
	margin-top: 100px;
}
.footer .but_wrap{
	margin-top: 35px;
}
.footer a.button{
	background: none;
	text-transform: uppercase;
	color: #fff;
	font-family: "GothaProBol", sans-serif;
	border-radius: 16px;
	font-size: 18px;
	padding: 7px 70px;
}
.footer a.button:hover{
	background-color: rgba(165, 211, 41, .8);
}

.pro_line_wr {
	font-size: 10px;
}
.mail_wr, .tel_wrap{
	text-align: right;
}
.bottom_line_wr{
	margin-top: 300px;
}